<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Prueba Irontec</span>
  
      <span class="example-spacer"></span>
    
    </mat-toolbar-row>
</mat-toolbar>

<mat-form-field>
    <input matInput type="repositorio" (keyup)="onNameKeyUp($event)" [(ngModel)]="owner">
    <br>
    <br>
    <input matInput type="dueño" (keyup)="onNameKeyUp($event)" [(ngModel)]="repo">
  </mat-form-field>
  <br>
<button (click)="getProfile()" mat-button>Buscar problemas</button>

<mat-list>
  <mat-list-item *ngFor="let issue of issues">
    Descripcion del problema: {{ issue.title | json }}
    Url del problema: <a href="{{ issue.url | json }}">{{ issue.url | json }}</a>
  </mat-list-item>
</mat-list>